h2 {
    color: orange;
}

h4{
    float: right;
    width: 220px;
    text-align: right;
}

.container{
    font-size: 14px;
    color: #636363;
    font-family: verdana;
}
.subtitulo{
    font-size: 12px;
    margin-top: -6px;
    color: #b9b9b9;
}

.checkbox {
    float: left;
    width: 30px;
    height: 22px;
}

input {
    margin-bottom: 23px !important;
}
.popup input {
    margin-bottom: 15px !important;
}
input.checkbox.on {
    margin-bottom: 5px !important;
}
.logo-row {
    margin-top: 10px;
    margin-bottom: 20px;
}
.popup .logo-row {
    margin-top: 5px;
    margin-bottom: 10px;
}
.checkbox.popup {
    margin-left: 0px;
}

.txt-checkbox {
    float: left;
}
.popup .form-group .subtitulo{
    display: none;
}
.popup .help {
    background: #dedede;
    position: absolute;
    right: 14px;
    top: 4px;
    border-radius: 30px;
    width: 21px;
    height: 21px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.container .form-group {
    margin-bottom: 0px;
}
.last-line {
    margin-bottom: 10px;
}



.container .btn-primary{
    background-color: #3154aa;
    border-color: #3154aa;
}
.container .btn-primary:hover {
    background-color: #5bcaf4;
    border-color: #5bcaf4;
}
.container a {
    color: #3154aa;
}
.container a:hover {
    color: #5bcaf4;
}
.sep-and{
    margin-left: 5px;
    margin-right: 5px;
}